[2018-12-12 13:46] bodograumann opened #1 "Create independent modules"
I really like the way this feature looks. Unfortunately I can not use it as-is.

Afaics with `vuex-class-modules` you always have to import the applications main vuex store object. When the application is composed from multiple packages and the store assembled with `store.registerModule`, this is not possible.

Do you think there is a way to define the vuex module independently of the main store a

[2018-12-12 14:12] gertqin commented on #1
Hi, thanks for showing interest!

So if I understand you correctly you would like to be able to just export the vuex-class-modules, and then register them elsewhere?

It should be quite easy to implement - the only problem is that there in this case will be two different objects you have to deal with:

1.  The object to be registered in the store (the _"real"_ vuex module)
2.  The accessor (proxy)

[2018-12-12 14:32] gertqin commented on #1
Actually simpler and cleaner solution could be to just pass the store in the constructor like this

[code]

This way with almost the same API as now, you can decide yourself where you want to register the module. Just bear in mind you will also have to import the module from the place it is registered.

Would that work for you?

[2018-12-12 15:45] bodograumann commented on #1
Yes this looks great. Importing the module from the dependent npm package is what I do already.

[2018-12-12 16:16] gertqin commented on #1
The only thing you need to be aware of then, is that if you want to access other modules from one module, then you cannot just import the class. You have to import the created instance (which I guess would be quite ugly in your case..). Are your modules referencing other modules/accessing rootState?

[2018-12-13 08:18] bodograumann commented on #1
Yes, importing the created module from a different dependent is not possible, because the instantiated module resides in the main application, to which the dependent does not have access.

Currently there is only one such dependence, but it is handled (cleanly I think) by injecting a getter from the vuxe module into the dependent using InversifyJS. This is done in the main application where both d

[2018-12-15 09:54] gertqin commented on #1
I have released a new version, where the modules are registered through the constructor. I have also added that module references can be instantiated through the constructor, which hopefully should solve the problems around importing other modules.

I have never used InversifyJS, but as far as I can tell, it should not be possible to inject both the store, but also other modules through their API.

[2018-12-29 21:17] jculverwell opened #2 "Looks great"
Hi this project looks great, just wondered if before building this you saw this project https://championswimmer.in/vuex-module-decorators/ ?

If you did, may I ask how does your project differ/ what are the benefits?  Just trying to understand the differences before I select one to go with.

Thanks again

[2018-12-29 23:08] gertqin commented on #2
Hi, I have looked at it shortly, but I don't like the way actions are handled (that you can only commit one mutation and have to specify it in the action decorator). In my projects I usually have actions with multiple commits, that's is why I created this library.

Otherwise I don't think there is much of a difference, so pick the one you prefer :).

[2018-12-30 01:32] jculverwell commented on #2
Thank you, yeah I really like the way you don't have to specify the mutation.  I've tried the other project and it was very good but I prefer your implementation as it makes my code look cleaner.   Thanks again for this project.

[2018-12-30 01:32] #2 closed

[2019-01-04 15:13] bodograumann opened #3 "Action method type"
You define the type of an action method as `TypedPropertyDescriptor<(arg?: any) => Promise<void>>'`.
I think there should be more options.

1. I want to be able to asynchronously return some value. So it should be `Promise<any>`.
2. Is there a reason, that the method *has to* return a Promise, i.e. be asynchronous?

[2019-01-04 15:58] gertqin commented on #3
Hmm, I'm not convinced:
1.  Vuex actions should not return values - see https://github.com/vuejs/vuex/issues/46 (although it works now you cannot be sure that it will in future implementations of vuex as it is not part of their API)
2.  Like above, you cannot be sure that the internal implementation of vuex actions won't return a promise eventhough your function definition is synchronous (if you h

[2019-01-04 19:35] c01nd01r commented on #3
@gertqin
1. As I can see, the issue are you referring is outdated. If I'm not mistaken, this was relevant for Vuex v0.3.0 (?).
At the moment, Actions (dispatch method) can return resolved Promise with payload.
https://github.com/vuejs/vuex/blob/dev/types/index.d.ts#L41
I don't think it will change in the near future.
But for next major Vuex version, there may be more extensive changes (for example

[2019-01-07 13:13] bodograumann commented on #3
I was only trying to convert my existing code to use vuex-class-modules. As @c01nd01r has pointed out, vuex allows returning values and defining actions as synchronous functions. So that’s what I did ^^

Looking more closely at my code, I now see, that I don‘t actually use the returned value. Furthermore the question of (a)synchronous methods came up because I am calling `rxjs` methods, which retu

[2019-01-07 15:55] bodograumann opened #4 "Add vuex .watch API"
As documented at https://vuex.vuejs.org/api/#watch, vuex allows to watch the state without having a vue component. E.g.

    store.watch(
        function(state, getters) {
            return getters.loggedIn;
        },
        loggedIn => {
            …
        }
    );

would execute a function every time the login state changes.

Afaics this is currently not possible when using vuex-class-mod

[2019-01-08 09:50] gertqin commented on #4
You should still be able to use ```store.watch``` as the class modules are just wrappers of the normal vuex modules, you will however not get any typings.

If that is what you want, can you then suggest a solution that would solve your problem? I haven't used ```store.watch``` in any of my projects.

[2019-01-08 10:31] bodograumann commented on #4
The thing is that I don’t (want to) have access to the store at the point I’m using `watch`. Even if I had, I wouldn’t know what the namespace is called, where my getter lives. All that information is wonderfully captured by the vuex class module. Of course having typing information is also a goal.

I can try to create a pull request. My goal would be something like:

[code]

[2019-01-08 11:33] gertqin commented on #4
Ah, you want the watch api directly on the modules. I think that should be fairly easy to implement.

[2019-01-08 11:52] bodograumann commented on #4
Yes. If you could do it, that would be fantastic. I would first have to get familiar with the code base.

[2019-01-11 09:12] bodograumann opened #5 "Have options independent of module"
Currently the `options: RegisterOptions` need to contain a `name`. So if I want to use dependency injection, I will have to inject a different value into each module class.

For my usage of vuex-class-modules, where I only use the proxy objects directly, the name parameter is not important, apart from having to generate a unique vuex module. The best solution would of course be to just have `Symbo

[2019-01-11 10:30] bodograumann commented on #5
The simplest implementation would be having `VuexModule` as:

[code]

The problem with using `this.constructor.name` is that in the minified version it will be mangled. Maybe multiple different classes might even get the same name then⁉

[2019-01-11 13:07] bodograumann opened #6 "Using class modules with inversifyjs"
I'm having problems using the vuex class modules with InversifyJS.

From [the inversify docs](https://github.com/inversify/InversifyJS/blob/master/wiki/inheritance.md#what-can-i-do-when-my-base-class-is-provided-by-a-third-party-module) I took
[code]

I’m not quite sure which order of the decorators is better, but `@Module` first seems sensible. I have implemented the feature #5 and added a test u

[2019-01-11 16:12] gertqin commented on #5
I don't see any use cases other than DI where you wouldn't want to add a name when registering the modules (for instance in Vue Devtools you would like to be able to identify the modules). Vuex' ```store.registerModule``` also requires a name (path).

As you mention, using ```constructor.name``` has the problem that it will be mangled when minified, and I'm not sure the names will be unique, so I

[2019-01-11 16:19] gertqin commented on #6
I'm sorry, but as I don't use InversifyJS myself and am quite busy at the moment, I don't have the time to debug why it doesn't work with vuex-class-modules.

As for the order of decorators I guess you would want to have ```@Module``` first, then ```@injectable```, so that the parameters from ```injectable``` are passed to ```@Module```.

But I'm closing this issue, as it is out of scope for this

[2019-01-11 16:19] #6 closed

[2019-01-11 16:21] gertqin commented on #3
Alright, as the official Vue typings allow return type ```any``` for actions, I will change the typings to that too.

[2019-01-11 16:36] bodograumann commented on #5
This might not pose an immediate problem, but it goes against the principles of dependency injection, because then every module must make sure not to collide with any other.
When I said, using the module class, I meant “based on the module class”. So some uid could be added.

Anyway, I can of course define my own constructor, which allows the options factory and calls it before invoking `super`. S

[2019-01-11 16:41] bodograumann commented on #6
Ok, I can completely understand that.
Hopefully in the future I will have some time to figure this out myself.

[2019-01-14 16:36] #4 closed

[2019-01-14 16:49] #3 closed

[2019-02-03 16:24] bodograumann opened #9 "@Module decorator does not preserve metadata"
After digging into issue #6 a little more, I found the following problem. I have created a simple example in https://github.com/bodograumann/vuex-inject-modules-example.

When defining a class through:

[code]

inversify adds metadata to the class. In particular, calling
[code]
gives
[code]

Unfortunately, when now applying the `@Module` decorator as well, the metadata is not there anymore:
[code]

[2019-02-03 16:27] bodograumann commented on #9
Maybe the comments in the [reflect-metadata readme](https://github.com/rbuckton/reflect-metadata#issues) are relevant.

[2019-02-06 16:46] #9 closed

[2019-02-27 16:31] bodograumann opened #11 "Allow access to setter mutations"
When using the `generateMutationSetters` option, for each state property a mutation is generated, that sets the property.

Those setter mutations are only available inside of actions, not when using the module instance directly.

Do you think we should allow access from the outside? Or would you say that it is a much better practice to only do changes in the actions?

[2019-02-28 08:48] gertqin commented on #11
So you want to do something like:

[code]
?

It would not be hard to implement, but I'm not sure whether it is against the design principles of vuex (flux) or not. Do you think it would be beneficial to allow?

[2019-03-01 08:24] bodograumann commented on #11
Yes this is what I mean.

I‘m not completely sure this follows the flux principles, but there are two reasons which let me lean towards yes:

- It is not the default setting, you have to enable `generateMutationSetters`.
- Even though the syntax is different, it simply commits a mutation, which is perfectly fine in flux as I understand it.

[2019-03-08 11:28] 2-5 opened #12 "Support for multi argument mutation"
I was wondering if it is possible to improve support for multi argument mutations.

At the moment this seems to be the only way of allowing multiple arguments:

[code]

If possible, this would be better:
[code]

[2019-03-09 07:17] bodograumann commented on #12
That would indeed ease usage of the modules. I have been in this situation myself several times; mainly with actions though. Instead of your first example I would write:

[code]
Considering that there might be more than two parameters and I tend to use much longer names, that sometimes gets a little frustrating.

In plain old vuex, modules interpreting multiple direct parameters is not possible, b

[2019-03-09 08:19] gertqin commented on #12
Hmm, I don't really like it. To keep this project clean I think it should stick as much to the original vuex syntax as possible (but provide good typings).

Let's say this is implemented by always changing the parameters to an array for the actual vuex mutation, and then back to multiple arguments. Now if you are using Vue Devtools or are subscribing to a mutation, you might wonder why an array is

[2019-03-09 08:26] gertqin commented on #11
Alright, I'll implement this. Although I think I'll keep it as an undocumented feature, as I'm still not sure whether this should be encouraged or not.

[2019-03-11 11:28] bodograumann commented on #12
I was actually thinking of converting the arguments into an object, but when you talked about arrays, I had another look into this.
Turns out, in contrast to e.g. python, in javascript you can not see the parameter names of a function. (There are some ugly hacks out there which convert the function into a string, but I would not want to touch that.)
In light of that, the feature seems much less de

[2019-03-11 17:58] gertqin commented on #12
Yes, I'll close it.

[2019-03-11 17:58] #12 closed

[2019-04-25 20:16] danieleades opened #13 "module inheritance"
is it possible to use inheritance to reuse common logic between modules using this package?

[2019-04-27 10:46] danieleades opened #14 "vue-router lazy loading broken"
I'm having trouble using both vuex-class-modules and vue-router lazy loading at the same time.

For reference- here is a commit of the project showing the issue-
https://github.com/danieleades/lazy-load-issue

- I have a page called 'transactions' which is lazily loaded in `router.ts`
[code]
- This route depends on a vuex module which is instantiated and registered in @/store/transactions.ts
[code

[2019-04-27 12:07] danieleades commented on #14
If i move the dynamic module registration to the same file that i define the vuex store root in, it works perfectly. Of course then I no longer have lazy initialisation of the module.

[2019-04-28 09:52] danieleades commented on #14
This works perfectly in production builds. I don't think this is anything to do with this package- more likely it's related to the default webpack configuration of the vue-cli service.

vuejs/vue-cli#3903

[2019-04-28 09:52] #14 closed

[2019-04-29 09:13] gertqin commented on #14
Sorry for the late response, but I'm glad you figured it out. :)

[2019-04-29 09:18] gertqin commented on #13
Hmm, I haven't tried it, but I think the following should work (not tested)

[code]

But I dont think you can use the ```@Module``` decorator on the BaseModule.

Is this what you are looking for? Feel free to try it out, and if it doesn't work, let me know.

[2019-05-22 14:12] frankshaka opened #15 "$watch not working with state changes"
This minimum example does not work as expected:

[code]

**Expected behavior:**

Output with `xyz`.

**Actual behavior:**

Output with `undefined`.

I reviewed the code and found the cause may be that `$watch` does not get namespaced state.

In `module-factory.ts`:

[code]

When calling `this.buildThisProxy()`, it should pass in `state: state[name]` instead.

Should I open a pull request for this?

[2019-05-22 17:51] gertqin commented on #15
I think you are right! Thanks for finding it.

I can see the current test only tests for store getters and not state, so that's why this simple bug has gone unoticed (I haven't used the $watch api myself).

Feel free to open a pull request (and add a test case) if you want :)

[2019-05-25 08:14] Titanishu opened #17 "Getters with params"
How can i use getters with some params?

For example, `get getUserById(id: string)`, but TS says `A 'get' accessor cannot have parameters`

[2019-05-25 13:44] gertqin commented on #17
You can do the following :)

[code]

[2019-05-25 13:44] #17 closed

[2019-05-25 13:46] #15 closed

[2019-05-25 14:06] #11 closed

[2019-05-25 14:07] gertqin commented on #13
Closing for now, feel free to reopen if you find some problems with inheritance.

[2019-05-25 14:07] #13 closed

[2019-05-31 08:54] jo0ger commented on #13
@gertqin hi
Getters in the `BaseModule` do not work

[code]

[2019-06-03 20:45] jacek-jablonski opened #18 "Memoization technique with vuex-class-modules"
Hi,
thanks for this awsome library. I would like to use it with memoizee to get some TTL caching. I am trying to use it this way:
[code]
However, I get an error saying: ```TypeError: this._getBackendsMemoized is not a function```. Any ideas how can I use memoization in a smart way with vuex-class-modules?

[2019-06-04 04:00] jo0ger commented on #18
@jacek-jablonski  try this

[code]

[2019-06-04 06:56] jacek-jablonski commented on #18
@jo0ger thanks for example. I am aware I can throw memoize out of class. But is it possible to have memoize inside VuexModule?

[2019-06-04 08:04] bodograumann commented on #18
In principal something like your original idea should work.
I have written my own buffering library, which I can use like
[code]

Things you could try:
- use `memoize(BackendsApi.getBackends.bind(BackendsApi))` or `memoize(() => BackendsApi.getBackends())`
- do not define `_backends` as `private`
- do not use an underscore at the beginning `_backends`

[2019-06-04 08:11] jacek-jablonski commented on #18
Thanks for response:

Is it general advice? Or only applicable to this situation? I would like to have private properties and public getters.

[2019-06-04 09:39] bodograumann commented on #18
No, in general it’s fine I think. This was only a shot in the dark.

I looked at the vuex-class-modules code and found the problem.
You are defining a property, which is also a function. Because its a function, it is not captured in the vuex state.
https://github.com/gertqin/vuex-class-modules/blob/bc353023e2fa21a46d3a9f656dc03a73442dc96c/src/module-factory.ts#L71-L77
But because it is not a real

[2019-06-04 10:03] gertqin commented on #18
@bodograumann Good catch!

Now the question is - should it be a state value or a private helper function? Do you guys have any input?

[2019-06-04 10:47] bodograumann commented on #18
In this case, having it as a private helper function would probably be sufficient. Still I think as a general approach it should be regarded as a proper state value.
Even if it doesn’t change, the overhead is not that big and in other scenarios we might actually want reactivity.

[2019-06-09 11:32] #18 closed

[2019-06-17 15:33] jacek-jablonski opened #19 "Simplify throttled vuex actions"
Hi,
I would like to throttle some Vuex actions, that shouldn't be performed more than once per 3 minutes. I am using lodash's throttle function like this:
[code]
Is there any way to simplify this call chain, so don't have to define 3 different functions for one throttled action or vuex-class-modules' internals forbids other way?

[2019-06-18 07:38] bodograumann commented on #19
I agree that in principle something like this should be doable in a single line.

For a similar problem I tried implementing my own decorator based solutions. I tried several approaches, but in the end couldn’t get it to work.

[2019-06-25 18:05] Disorrder opened #20 "bug with module inheritance"
Trying to use this module for share common logic
Found question #13 and it works, but with bug of initializing actions (and maybe mutations too)

[code]

And when I call `projects/getList` it calls method from `roads`.

I think problem is here:
https://github.com/gertqin/vuex-class-modules/blob/2dab4e763d203ed16d348ee99204008c608aa9a1/src/actions.ts#L9

Child classes inherit this `vuexModule.__act

[2019-06-29 17:02] achimdan opened #21 "Nuxt problem"
I'm getting this error in nuxt
[nuxt] store/index.ts should export a method that returns a vuex instance.
How can i fix it?

[2019-07-03 18:21] gertqin commented on #19
I haven't investigated whether it would be possible to have

[code]

but, would you prefer this syntax?

Unfortunately I'm quite busy at the moment, so I don't think I'll look into this for a while, but if you are up for it, feel free to open a pull request :)

[2019-07-03 18:27] gertqin commented on #20
Looks like the actions are stored in the base class instead of the derived class, which definately is a problem for inheritance.

I'll take a look at it when I get the time.

[2019-07-03 18:29] gertqin commented on #21
I'm sorry but I haven't used Nuxt, so I don't know what their requirements to the store is. You'll have to investigate the problem yourself.

If you find a problem in vuex-class-modules when used with Nuxt feel free to open a new issue

[2019-07-03 18:29] #21 closed

[2019-07-03 18:58] Disorrder commented on #20
@gertqin Okay, that's would be nice. I can't wait, so I wrote my own decorators :D. Maybe upload to github soon

[2019-07-04 15:57] andrey-zakharov opened #22 "Not an issue with this concrete lib, but what to do when you have several carts"

[2019-07-05 07:04] bodograumann commented on #22
Not sure what you mean by carts. You can always define multiple module classes and register them in the vuex store.

Anyway this is not really the right place to ask general question. You should try stackoverflow.com.

[2019-07-07 07:27] gertqin commented on #22
I agree with @bodograumann.

[2019-07-07 07:27] #22 closed

[2019-07-09 02:57] zAPFy commented on #17
@gertqin I'm having issues with this.

[code]
and calling it like so
[code]
results in
[code]

[2019-09-02 08:56] TheSimpleZ opened #24 "Persist state of vuex store"
Hello!

I'm using your library inside an electron app built with Vue. I need to persist the state of the vuex store. To achieve this i tried saving the vuex state to a json file, using a vuex plugin. However, when i restore the state, on app launch, i get an error saying `Error: [vuex-class-module]: A module with name 'myModule' already exists.`.

I'm pretty sure the Error originates from here: ht

[2019-09-02 11:47] bodograumann commented on #24
That is in interesting question.

Which vuex plugin are you using to save and restore the state?
Maybe you could show some example code?

[2019-09-02 13:00] TheSimpleZ commented on #24
Absolutly! I tried using https://github.com/vue-electron/vuex-electron, but when i got the error i tried simplifying the code. So i wrote my own plugin which depends on https://github.com/sindresorhus/electron-store
(`flatted` is a JSON (de)serializer which can handle circular references). Still got the same error. Then i realized the error was originating from this library.
My code looks like thi

[2019-09-02 13:38] bodograumann commented on #24
Indeed the way you set the state conflicts with how we register the module. There is the possibility of using HMR in https://github.com/gertqin/vuex-class-modules/blob/61b18a42b9e3dc09e7484b939b527363bcc1d688/src/module-factory.ts#L166-L172 but I would guess that that also overwrites the state.

So there are two options here:
- Load the state from eStore only *after* registering the module.
- Add

[2019-09-02 15:13] TheSimpleZ commented on #24
I tried using HMR (i assume it's simply putting `plugins: [new webpack.HotModuleReplacementPlugin()],` in my webpack.config.js). Didn't work.

Assuming I would like to use a pre-made plugin your first option won't work. I will try to see if i can come up with some nice way of implementing persistence after my modules have been registered.

Do you think it would be a lot of work implementing the se

[2019-09-02 15:23] bodograumann commented on #24
I expanded the above code citation. As you see HMR means using the `hotUpdate` method from vuex.

Adding another method would probably not be hard to code, but we would have to think about whether we want to support / encourage that usage. Also there are other situations to consider. Just imagine, that there are already mutations, actions, etc. registered in the module.

[2019-09-03 09:33] TheSimpleZ commented on #24
I see...

Well it would be great if you would consider adding support for state persistence. I don't feel like I know enough about Vuex to be able to identify the side-effects it might cause.

Until then, I'll look into alternative solutions. Thanks for your help :)

[2019-10-10 13:24] bodograumann commented on #20
The problem here is that vuex modules don’t have any concept of inheritance. For helper methods, we only call the inherited instances with the correct `this`. When looking at actions, mutations and getters though, they have to be transformed into the vuex objects.
So at that point the inheritance vanishes. That means we have to do some unrolling. Currently this is done (maybe by accident), through

[2019-10-16 08:41] bodograumann commented on #19
Closing as stale. Feel free to reopen or open a new issue if you are still having problems with the suggested solution.

[2019-10-16 08:41] #19 closed

[2019-10-16 16:50] IrynaBu opened #27 "Getters/function with parameters"
Hello!
Using standard vuex i was able to create getters function with params. How i can reach this using vuex-class-modules?

[2019-10-17 05:50] bodograumann commented on #27
The only way I know of, in standard vuex or in vuex-class-modules, is by returning a function from the getter. For example:

[code]

[2019-10-17 06:04] IrynaBu commented on #27
Hi thanks! I will try this approach. Maybe you also can provide small piece of code how i can use this?

[2019-10-17 06:50] bodograumann commented on #27
If you have a module instance, you can simply call the function like a normal method:
[code]

This works because the getter is used as `userModule.name` and returns a function, which you can then call.

[2020-01-24 10:41] yasin-mesut opened #28 "Testing Vuex actions returns undefined"
Hey there,

I couldn't find anything on SO so I'd like to ask here about. I recently moved from plain JS to TS and therefore started using `vuex-class-modules`. However, all of my tests using VueX that were working previously just stopped working with `vuex-class-modules`.

Is there anything special to take care about using `vuex-class-modules`?

I'm running tests on `Jest`.

----

After some more

[2020-01-24 18:43] bodograumann commented on #28
In principle there should no visible difference whether you use standard vuex methods or the vuex-class-modules interface. Can you please give more detailed information. Best would be some minimal reproduction repo. You should also definitely post more detailed error descriptions, apart from saying that your tests break. What are you testing for that is not working anymore?
Vuex-class-modules of c

[2020-01-27 08:06] yasin-mesut commented on #28
I'm sorry, you're totally right. I haven't been providing enough information though.

In `vuex-class-modules` we use classes and thus class members to define behaviors. That works pretty fine for me. However, when I try to test any component that's using the store, my test case simply fails. While I've been able to run successful tests using plain `Vuex` syntax, I can not get my `vuex-class-module

[2020-01-27 09:10] bodograumann commented on #28
I don‘t really see the need to use vuex or vuex-class-modules in those unit tests at all, because `helloWorldModule` is only a plain object with some state and methods to the component.
Basically you can mock out the whole thing. There are two ways to do that.
1. Use [jest.mock](https://jestjs.io/docs/en/es6-class-mocks) to mock the `/src/store` module.
2. Do not directly import from the store in

[2020-01-27 09:23] yasin-mesut commented on #28
Thanks in advance. I'll just check that out. Also, the code provided was just a simple way to demonstrate the use case. The original code is used for user authentication and therefore I need to be able to check if the login function has been called or not.

[2020-01-28 15:22] yasin-mesut commented on #28
First of all, thanks for your help so far. The above repo is updated and everything is working fine, except of one thing. Assuming an action returns a promise (or anything else), the return value is always undefined within the test, even though the code is working properly within the component itself. Any suggestions about that?

[2020-01-29 07:55] pancake-boy opened #29 "how to reset the state of all modules?"
for example, i want to clear the state on logout.
how can i do this for all modules within the store?

[2020-02-11 14:34] bodograumann commented on #29
Afaik there is no build-in way to reset a typescript object to its initial state.
I usually define a `reset` mutation and clear the state there manually.

[2020-02-11 14:39] bodograumann commented on #28
If the mocked module should return a value you need to define that with `mockResolvedValue`. See https://jestjs.io/docs/en/mock-functions.html#mocking-modules

[2020-02-11 14:39] #28 closed

[2020-02-11 14:39] #27 closed

[2020-02-22 20:07] mrmoses opened #30 "wrapped Action"
Is it possible to define an Action that gets wrapped in another function?

Example of wrapping an action using vuexfire:
[code]

I've tried a few different ways.
[code]

Is there a specific syntax or even a workaround to get a firestoreAction into a VuexModule ?

[2020-02-22 21:25] bodograumann commented on #30
You could define your own decorator for it:
[code]

Then use it as:
[code]

At least I think that should work. Haven’t tried it myself.

[2020-02-23 00:21] mrmoses commented on #30
Thanks @bodograumann that helps.

`bindFirestoreRef` is something that is injected into the context by `firestoreAction`, so its not a parameter to `mymodule.bindTodos()`

In regular actions, the first param is the context:
[code]
How can that context be accessed inside either the `FirestoreAction` decorator or in the `bindTodos` action?

Here is a FirestoreAction decorator that uses firestoreActi

[2020-02-23 05:43] mrmoses commented on #30
Here is an action without the decorator which might work if the context was available (`this.context`) in the action.

[code]

Is there anyway to get the context?

[2020-02-23 08:24] bodograumann commented on #30
The context in vanilla vuex corresponds to `this` when using vuex-class-modules.
It is a proxy which allows you to access the properties which are valid in the current context. So for actions you can directly access state, mutations and other actions.

I don’t think you can simply use `this` instead of `context` for `firestoreAction` though, because vuexfire relies heavily on vanilla vuex api.
Not

[2020-03-03 07:18] pancake-boy opened #31 "Does it work with typescript module libs like vuex-class-modules?"
the modules are dynamically loaded, nothing is being saved.

[code]

[2020-03-03 08:51] bodograumann commented on #31
Not sure what you are asking @pancake-boy. Could you please elaborate?
Your code seems weird. You are importing a store from `@/store`, but then creating a new independent store and exporting that.

[2020-03-03 09:11] pancake-boy commented on #31
thats to create an instance and register it into the store

[2020-03-03 09:30] pancake-boy commented on #31
i'm gonna try switching to vuex-module-decorators and see how that goes

[2020-03-03 09:33] bodograumann commented on #31
Feel free to reopen when you want to go into more detail.

[2020-03-03 09:33] #31 closed

[2020-03-16 19:45] Sartori-RIA opened #32 "Pass parameter to Getter"
Hi, how i can pass parameters to getters ?

[2020-03-18 08:44] bodograumann commented on #32
You need to return a function. I think this is the same as plain vuex. E.g.:
[code]

[2020-03-18 11:21] Sartori-RIA commented on #32
thanks :D

[2020-03-18 11:57] #32 closed

[2020-03-30 08:43] gutisalex opened #33 "Accessing Vue instance (_vm)"
Trying to access vm:

`this._vm.$socket.client.emit('SomeEvent', data);`

Get error:

`Property '_vm' does not exist on type 'MyModule'.ts(2339)`

Any idea?

[2020-03-30 09:10] bodograumann commented on #33
It is not possible afaik. Even in normal vuex it is only an implementation detail and should not be relied upon.
Also, accessing the vue instance goes against best-practices. For example you can have multiple vue instances using the same vuex store. Then the operation is not even well-defined.

As an alternative I would suggest explicitly giving the socket. You can either pass it in the constructo

[2020-04-01 07:45] #33 closed

[2020-05-04 23:11] ronnyek opened #35 "[Question] Module Watching other module value, and initial state setting"
Apologies for asking questions here.. and hoping for just pointers to point me in the right direction. If there is a better place to ask this, I'm more than happy to do that.

1) Just guidelines around loading initial state. Most of the default state assignments work, but one needs to come from a service. Would I just create an action and somehow trigger that on start someplace to load a value fro

[2020-05-05 06:51] bodograumann commented on #35
Have you defined an initial value for the state you want to update?
If you haven't it would not be reactive.

[2020-05-05 16:25] ronnyek commented on #35
Yeah... I mean I can call the action from a ui event and it does exactly what is expected. I guess the correct question, is how do I trigger an event that can update state on module2 based on a change of state in module1. I suspect my problem is I'm currently trying to do this:

[code]

And I could totally see why doing things this way is wrong, I just don't understand how best to achieve this wit

[2020-05-06 07:43] bodograumann commented on #35
I actually would expect the solution to work like that. Not sure why it doesn’t.
Would you maybe be able to a minimal example project demonstrating the problem?

[2020-05-06 14:39] gertqin commented on #35
I dont think calling actions from the constructor will work, because inside the constructor the actions are not proxied to the underlying vuex module. So you should define the watcher outside the constructor.

[2020-05-26 19:49] FullPint commented on #20
@Disorrder

Why not either create a generic base class, or use a constructor?

[2020-05-29 08:04] qingchiapp opened #36 "Cannot read property 'state' of undefined"
This is not a bug, but a small problem I encountered myself, but I will encounter the cause of this problem, I think it may be due to

This sentence is ambiguous, so please change it to

When I write this code in the AppModule.ts file, I will be prompted Cannot read property 'state' of undefined

AppModule.ts file content

[code]

And when I write this code into '@plugins/store/index', everything

[2020-05-29 09:59] bodograumann commented on #36
This sounds like you have circular imports.
If `AppModule.ts` is imported while loading `index.ts`, you cannot import `index.ts` in `AppModule.ts`. That would explain why `store` is `undefined` in `AppModule.ts`.

[2020-05-29 16:24] alamhubb commented on #36
No, at first, I only imported index.ts in AppModule and did not import AppModule in index.ts, and then the error

Later, I only import the appModule in index.ts to resolve this error message

[2020-05-29 16:28] alamhubb commented on #36
The two pieces of code on the page are irrelevant, they are code fragments of two different periods

[2020-05-29 16:36] alamhubb commented on #36
Because the appModule object was not created before use

Looking at the first piece of code, you can see that it is not executed

`
export const appModule = new AppModule ({store, name: 'app'})
`

Because there is no place to call the AppModule.ts file, it will not execute, nor will it create an AppModule object, so this error will occur.

The first part of the code only declares this piece of cod

[2020-05-29 17:43] bodograumann commented on #36
Of course you need to import the module that you create where you want to use it.

[2020-05-30 03:57] alamhubb commented on #36
[code]

Since the two pieces of code in the document are linked together, it looks like they are in the same file, which will cause

`
export const userModule = new UserModule ({store, name: "user"});
`

Will not be called.

This document is misleading.

Therefore it is recommended to modify

update

[2020-06-01 06:13] bodograumann commented on #36
Sorry, if you misunderstood, but imho this is clear enough. If you read on, you see that there is an explanation about “The module can then be used in vue components as follows:”, where you import the instance `userModule` explicitly. So if you decide to create that instance in a dedicated file, you will also import it from there, i.e. that file will be executed.

I guess, if you feel so strongly

[2020-06-01 15:53] LiamJamesWiddop opened #37 "Request for new feature - @Onload method decorator"
I was looking to create a decorator to automatically call module methods on mounting a module, so I forked the repo [here](https://github.com/LiamJamesWiddop/vuex-class-modules) and added some lines to `src/module-factory` and `src/index.ts`. I also added `src/onload.ts`, which is basically an adaptation of `src/actions.ts`.

My changes basically add support for an `@Onload` method decorator and h

[2020-06-01 16:09] bodograumann commented on #37
That sounds interesting. Could you actually create a pull request for it, please?

[2020-06-01 16:16] LiamWiddop commented on #37
Sure, here you go: #38

[2020-06-01 17:18] gertqin commented on #36
I'm still not sure I completely understand your problem @qinkaiyuan.

But I agree with @bodograumann, the whole purpose of ```vuex-class-modules``` is that you import the instantiated module wherever you need to use it. Whether you have instantiated the module in the same file as the class declaration, e.g.

[code]

on in separate files like

[code]

should not matter. But of course in the first e

[2020-06-02 06:07] #37 closed

[2020-07-07 09:56] onkarj422 opened #39 "[Feature Request] Vuex Child Modules Functionality (Submodules)"
Is there any kind of provision to have sub modules inside of a module?

Like in the original Vuex we have
[code]

In vuex-class-modules, maybe something like this
[code]

Please, specify if something like that already exists, or any workaround would also work

[2020-07-07 13:41] bodograumann commented on #39
I fail to see what the use case for this is. Maybe you can explain what you are trying to achieve.

We register the modules through `store.registerModule` (https://github.com/gertqin/vuex-class-modules/blob/master/src/module-factory.ts#L178) or `store.hotUpdate` (https://github.com/gertqin/vuex-class-modules/blob/master/src/module-factory.ts#L169).
In the former case it would be a simple to change

[2020-07-07 13:43] gertqin commented on #39
I agree with @bodograumann - I have also never had the need for submodules. Why can't it just be a another regular module?

[2020-07-08 05:05] onkarj422 commented on #39
Dynamic registration becomes pretty efficient when used along with nested modules.

Consider this example hierarchy in a particular domain -

[code]

So here, the bottom most module ReportsModule is depended on OutputModule which in turn is depended on InputModule.
Now, in my components, the InputModule and the whole InputComponent view tree by which it is consumed will be dynamically registered a

[2020-07-08 07:09] bodograumann commented on #39
So basically you want to automatically load other modules when a “parent”-module is loaded into the store.

I guess that is not impossible to implement, but there doesn't seem to be any easy way of implementing it, that works with the rest of vuex-class-modules. It is probably not worth the effort.

Especially as you can quite easily implement it on your side. You will anyway have to register the

[2020-08-26 12:45] vandriesh opened #42 "jest typescript fails"
after deciding to use vuex-class-modules this happened :

  ● Test suite failed to run

    Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

    Here's what you can do:
     • To h

[2020-08-26 13:46] Arsync opened #43 "How to access Store extensions in 'this' instance?"
Within vanilla Vuex we have extension like
[code]
And access it in actions like
[code]
But module of 'vuex-class-modules' has no 'this' as Store type. How to access $api extension?

Tried to make extended subclass of VuexModule like
[code]
Usage:
[code]

But it cause an error:
[code]

[2020-08-26 13:49] bodograumann commented on #42
Oh yeah, I had the same problem.
It does tell you what to do, kinda:

In other words: you need to tell jest to transform the vuex-class-modules dependency with babel, because it provides esm format only. When I hit this problem I could not find out how to do it in the context of vue-cli though...

Related; there was an effort to add commonjs support: https://github.com/gertqin/vuex-class-modules/p

[2020-08-26 13:59] bodograumann commented on #43
I would propose that you provide the service factory directly to your vuex class module:

[code]

Yes, that means you have to explicitely provide the service factory to every module that needs it.
This approach works well with dependency injection (e.g. InversifyJS) though.

[2020-08-26 16:17] Arsync commented on #43
Something wrong with this implementation:
[code]
If we add DI parameter of 'IdentityManager', it cause
[code]

[2020-08-30 18:37] seflue commented on #20
Hi. I sat down and implemented a fix. Basically the solution was very simple (after I figured out, what really is going on - which took some time): treat the keys of `__actions` and `__mutations` just as label storage to decide, if a module property is actually an action or mutation and do the assignment in the same manner (and even the same loop) as the getters and helper functions.

Beside the f

[2020-08-30 20:31] seflue commented on #20
Ok, I just send you a [minimal fix](https://github.com/gertqin/vuex-class-modules/pull/44).

[2020-09-01 08:10] pancake-boy commented on #35
is it possible to access 'this' of the module within the watch callback?

[2020-10-03 07:44] gertqin commented on #20
Hi seflue, sorry for my late reply! I have been busy with other stuff (parental leave :)), so I haven't really been at a computer the last month.

Thanks a lot for your help, I have taken a short look at it, and so far it looks good! Any improvements are welcome, including version bumping and refactoring/readability improvements (although this is somewhat subjective, so I might not agree with ever

[2020-10-03 23:10] seflue commented on #20
If you don't mind, it would be the easiest for me and my colleagues, if you just merge the PR first and for further improvements I will create separate PRs.

[2020-10-05 07:38] seflue commented on #20
@gertqin We should bump up the version to 1.1.3. I forgot that in my PR.

[2020-11-26 09:11] ftes opened #47 "Allow usage in node app without babel"
## Observation
The sources are transpiled with a tsc `module` target of `es2015`.

## Problem
This makes them unusable in a node app with only a `typescript` setup (no `webpack` or `babel`):
[code]

## Proposed solution
#46 Transpile to `commonjs` modules in addition to `es2015`.

[2020-12-09 18:03] Micene09 opened #48 "Vuex 4 (Vue 3) support"
Hi, first of all, thank you for the amazing job you have done with this library, it is saving the day in my frontend team in so many projects.

I know that this question could sounds hasty but, do you have any plan to support Vuex 4 and Vue 3 on the next releases?
Maybe I'm confused, but I didn't found any roadmap on this project.

[2020-12-23 07:52] gertqin commented on #48
Yes I'm definitely planning to support Vuex 4 & Vue 3. We have not yet startet to migrate in my projects, but we will soon.

However I do believe this library should work out of the box for Vuex 4, as the api is the same as for Vuex 3. But if it doesn't I'll look into supporting Vuex 4 very soon.

[2020-12-23 08:29] micene09 commented on #48
Thank you bro! This is an amazing news!

[2020-12-23 08:29] #48 closed

[2020-12-23 10:40] gertqin commented on #42
Now that commonjs is supported, this issue should be solved, right @bodograumann ?

[2020-12-28 15:08] bodograumann commented on #42
I would think so. @vandriesh can you please update to version 1.2.0 and retry the tests?

[2021-01-01 14:52] vandriesh commented on #42
@bodograumann I'm sorry - I've moved a long time ago  from the project where I used vue. - next time... (will  close for now)

thanks everyone! and a Happy New Year!

[2021-01-01 14:52] #42 closed

[2021-02-18 13:50] MartB opened #51 "Error when using hmr with vite"
[code]

When doing a hot-reload,the above gets logged and the hot-reload is aborted.

Im exporting the module like this: `export const appModule = new AppModule({ store, name: 'appModule' })`

Any idea how i can"supress" this error and make it replace the module correctly?

[2021-02-18 14:01] bodograumann commented on #51
vuex-class-modules needs to be informed that a hot-reload is taking place: https://github.com/gertqin/vuex-class-modules/blob/master/src/module-factory.ts#L172-L181
I guess this is something webpack specific and thus not set with vite.
Does vite have something similar?

[2021-02-18 14:19] MartB commented on #51
@bodograumann is this what you are looking for?
https://vitejs.dev/guide/api-hmr.html

Seems like it should be possible to implement this.

[2021-02-18 15:02] bodograumann commented on #51
I wonder how vuex itself handles vite hmr. They do look at `module.hot`, but I couldn’t find `import.meta.hot` in their code. That could be a good place to start.

[2021-02-21 18:34] ndresx commented on #51
A workaround could be to check if the module has been already registered and then unregister it before the `@Module` part. Not the best solution for sure, but might help to overcome this issue.

[code]

[2021-02-24 08:35] Joebayld opened #53 "Add support for unregisterModule"
I'm looking to use this to dynamically add / remove Vuex stores. Has anyone come across this?

Vuex has a `unregisterModule` function for this purpose - just wondering the best way to use it with this library.

https://vuex.vuejs.org/guide/modules.html#dynamic-module-registration

Thanks!

[2021-02-24 09:07] bodograumann commented on #47
Now that the PR is merged, are this complete, @ftes ?

[2021-02-24 13:26] ftes commented on #47
Yes, thanks! Using it in our project already :).

On Wed, Feb 24, 2021, 10:07 Bodo Graumann <notifications@github.com> wrote:

[2021-02-24 13:34] #47 closed

[2021-03-02 09:51] gertqin commented on #51
I'm not a fan of unregistering the module, as it is most likely a bug to add two modules with the same name in production.

Regarding ```vite``` I took a quick look at the [types](https://vitejs.dev/guide/features.html#client-types) it provides, but they conflicted with other types. As we are also looking towards using ```vite``` in our projects, I think the simple solution will just be to add a `

[2021-03-07 19:31] gertqin commented on #53
Well, you can just unregister the module using the store, e.g.

[code]

[2021-03-07 19:33] gertqin commented on #51
Fixed with 7cc6e9c80f1d4416b328fdfb1fc4bd558d162587. Not the cleanest solution, but should work for now.

[2021-03-07 19:33] #51 closed

[2021-03-07 19:38] #36 closed

[2021-04-07 16:53] armenr opened #56 "Don't know where else to say this, but..."
Saw the latest release and just wanted to say...Thank YOU! THANK YOU for maintaining this library, thank you for supporting the community!

[2021-04-11 15:27] LifeIsStrange opened #57 "Status of Vue 3.x and Vuex 4.x support ?"

[2021-04-11 16:41] gertqin commented on #57
Both are supported 🙂

[2021-04-11 20:15] #57 closed

[2021-04-12 16:34] nicolidin opened #58 "Allow composition of Action, Mutation and Getter"
Hi,

It would be interesting to allow the composition of each part of a module: State, Getters, Mutations, and Actions like this example below.

[code]
Do you think you can implement such a feature??

It would allow doing abstraction on each different part of a store, and thus for example make `UserMutation` extends from an interface or a class, and the same for ```UserAction``` etc...

Thanks!

[2021-04-26 04:27] ippeiukai opened #60 "fully support registerModule usage"
This is a feature request.

Currently, I'm using `vuex-module-decorators` and looking for an alternative that supports dynamically managing multiple instances of same module definition. This is inherently impossible with `vuex-module-decorators` which requires module name to be specified with the `@Module` decorator. Now that I found `vuex-class-modules` can do that (nice!), I found a couple of cr

[2021-05-20 12:51] mzymta opened #63 "Access generated mutations (generateMutationSetters: true) from module instance"
Is there a way to use auto-generated mutations (with `generateMutationSetters: true` option) from the module instance? In Vue component for example?

[code]

Or they have to be explicitly defined in this case?

[2021-05-21 06:36] bodograumann commented on #63
Yes, I think this should exactly like you say.
Similar to the automatically generated getters.
Did you have any problems with it?

[2021-05-21 08:31] mzymta commented on #63
Hi Bodo, so you are saying that in Vue component I can import module instance and do `userModule.firstName = value;` to modify the state?

The thing is that it looks like I am directly modifying the state bypassing mutation which contradicts with the Vuex pattern where the state should only be changed inside mutations.
Or I am getting it wrong and `userModule.firstName = value;` calls generated mu

[2021-05-21 09:17] mzymta commented on #63
`userModule.firstName = value;` is indeed calling the generated `set__firstName` mutation on the background. Super cool!

Thank you!

[2021-05-21 09:17] #63 closed

[2021-06-02 16:31] radatta commented on #24
Any updates? This library is solid and It would be great to have state persistence.

[2021-07-03 16:54] dakuenjery opened #66 "Is there a way to register the module without namespace?"
I like this library, but I cannot to register the module as a namespace: false.

I saw registerVuexModule() in module-factory.ts and the namespaced value is hardcoded, but maybe there is some workaround?

[2021-07-04 06:36] bodograumann commented on #66
What you are trying to achieve by using non-namespaced modules?

[2021-07-12 21:06] reynard80 opened #67 "Vue Devtools not working"
I recently switched to class based Vuex modules with this package.
However, the Vuex tab of Vue Devtools doesn't seem to work anymore. It just shows the base state and no modules or mutations are recorded.

Is this a known issue or just my project?

![Knipsel](https://user-images.githubusercontent.com/32482953/125355785-b999d280-e365-11eb-9b9f-a77d8c9ca120.PNG)

[2021-07-12 21:12] bodograumann commented on #67
I don’t think this can have anything to do with vuex-class-modules, as it is just a wrapper around vuex.
Could you please give the versions of vue, vuex and vue-devtools that you are using?
It could very well be that there is some incompatibility therein.
Beyond that, a minimal reproduction would be essential to even try to look at a possible issue.

[2021-07-12 21:14] bodograumann commented on #66
I’ll close this now due to inactivity.

[2021-07-12 21:14] #66 closed

[2021-07-13 08:27] reynard80 commented on #67
I understand. It would be strange if vuex-class-modules was the issue, but before I used vuex-module-decorators in the same project and this was working (but had other issues).

We use Vue 2.6.14, Vuex 3.6.2 and Vue Devtools 5.3.4 in the project.

Only thing I can think of which might be a problem is that the modules are extended from abstract classes, like this:

[code]

As for reproduction, I wi

[2021-07-13 08:32] bodograumann commented on #67
Inheritance can be problematic, if i remember correctly. Maybe check #20.

[2021-07-13 10:14] reynard80 commented on #67
It actually seems to be working now, also with inheritance. I actually had some settings wrong for Vue Devtools.
Thanks for your reactions.

[2021-07-13 10:14] #67 closed

[2021-07-27 20:16] #56 closed

[2021-08-04 10:01] sergsmt opened #68 "List of refactoring tasks"
### Frontend

- [ ] Try using [vuex-class-modules](https://github.com/michaelolof/vuex-class-module) (alternatively [vuex-class-component](https://github.com/michaelolof/vuex-class-component)). Start from one module, if everything goes well - spread to other modules.

- [ ] components/analytics - create one universal component for uploading JSON

- [ ] Divided interfaces and APIs into modules and

[2021-08-04 10:14] bodograumann commented on #68
Wrong repo I think.

[2021-08-04 10:14] #68 closed

[2021-08-04 10:48] sergsmt commented on #68
Oh, sorry  :)

[2021-12-15 01:51] BonBonSlick commented on #29
In functions that would be smth like this
[code]

should give an idea how to make it with classes, smth like
[code]

[2021-12-15 02:02] BonBonSlick commented on #24
@bodograumann  @0x6F72656F73
Any updates?
State persisted only before page reloaded.
After that it throws error

[code]
I also see state in dev tools, BUT, getters are removed / actions.
Sate not persisted nor dynamic modules registered again.
Its like they were loaded only on the first page load.

[2021-12-15 02:08] BonBonSlick opened #72 "Question: how to persist state?"
Hello, and thatnks for that package.
There is a comment on persistence.
https://github.com/gertqin/vuex-class-modules/issues/24

State persisted only before the page reloaded.
After that, it throws an error
[code]
I also see state in dev tools, BUT, getters are removed / actions.
Sate not persisted nor dynamic modules registered again.
Its like they were loaded only on the first-page load.

[2021-12-16 00:59] BonBonSlick commented on #60
https://github.com/gertqin/vuex-class-modules/issues/72

[2021-12-16 01:13] BonBonSlick commented on #31
@pancake-boy @bodograumann  hello, tell me pelase have you figured out how to persist state for this package with dynamic modules? Thanks.

[2021-12-16 01:29] BonBonSlick commented on #72
**Found fork where added preserveState**
because it is a **MUST** feature.
Unsure of possible bugs.

https://github.com/voltane/vuex-class-modules/commit/6bd6af928dae4cabc2ba7366c963b81f7ff81909

I am creating a fork to test it.
Please if you have any advice on how to  preserve state for this package, update this ticket with package docs.
Thanks!

[2021-12-16 14:43] bodograumann commented on #72
Feel free to create a pull request, but please stop spamming your comments in all vaguely related places.

[2021-12-16 23:18] BonBonSlick commented on #72
@bodograumann this is not spam but a link to a related issue. Don't you think that anyone who has a similar persistence issue should see this one ticket? Your package is **awesome** because resolves **many** maintainability issues, like reusability, debugging, boilerplate code. Unlike vuex-class or vuex-module-decorators, first one brings hell as many boilerplate and the second one still has no in

[2022-02-06 00:16] wdpoppe opened #73 "How to passing multiple arguments to @action"
Hi,

I'm completely stuck on an issue I encounter with passing multiple arguments through an action. I've tried my best to find a solution but my vuex/decorators experience is limited. Help is appreciated.

===My .ts file belonging to the vue component ===
function receives a (dynamic)number when clicking in a table and recieves a (dynamic) year when clicking.

[code]

[code]
===My module .ts file

[2022-02-06 08:06] bodograumann commented on #73
You have defined the action correctly, by using options parameter style. Being only able to pass one parameter is a restriction of vuex, btw.
Now you be constistent and also call the action just as you have defined it. E.g.:
[code]

[2022-02-06 13:29] wdpoppe commented on #73
Great! You've clarified so much with this comment. The fact that Vuex has a restriction on passing only one parameter is essential to understand when passing multiple values. Your approach allows you to pass basically one value as on object with multiple properties.

I had to refine my code a bit and know happy to move forward! Thank you for helping me out.

[code]

[code]

[code]

[2022-02-06 14:07] #73 closed

[2022-02-23 13:54] LifeIsStrange commented on #58
@gertqin Hi, friendly ping, this feature is very important for our team, I was wondering whether you think progress will be made about it this year?

[2022-02-23 14:12] gertqin commented on #58
Sorry for not replying to the original issue. But as I'm no longer using this module myself and [Pinia](https://pinia.vuejs.org/) is the new recommended state management library (which also solves all the problems this library is trying to solve), I probably won't be adding any new features to this library anymore.

[2022-02-23 15:19] nicolidin commented on #58
You should check this issue: https://github.com/vuejs/pinia/issues/802

[2022-03-15 12:47] SantanderAuhAuh commented on #28
i have the same problem. Is there any solution?

[2022-03-16 13:22] bodograumann commented on #28
This issue was solved afaik. What additional problem do you have?